<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Fast, high level Java WebSocket Framework">
  <meta name="keywords" content="Websocket, Websockets, Java, JavaScript, Bristleback Framework, Bristleback server">
  <title>Bristleback - Java Websocket Framework</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/highlighting.css">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35972690-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body>

<header>
  <div id="headerDiv">
    <div id="logoDiv">
      <a href="index.html" id="logoLink">
        <img src="../img/bristleback-logo-fin.png" alt="Bristleback - Java Websocket Framework powered by Spring Framework">
      </a>

      <h1 id="subheader">
        Java WebSocket Framework powered by Spring Framework
      </h1>
    </div>

    <div id="rightHeaderDiv">

      <div id="gitHubProfile">
        <iframe src="http://ghbtns.com/github-btn.html?user=bristleback&repo=bristleback&type=watch"
                frameborder="0" scrolling="0" width="62px" height="20px"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=bristleback&type=follow"
                allowtransparency="true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
      </div>

      <div id="menuDiv">

        <a href="https://github.com/bristleback/bristleback/downloads" class="menuButton menuButtonLast">
          Downloads
        </a>

        <a href="documentation.html" class="menuButton {{ page.isDocumentationActive }}">
          Documentation
        </a>


        <a href="first_steps.html" class="menuButton {{ page.isFirstStepsActive }}">
          First steps
        </a>

        <a href="samples.html" class="menuButton {{ page.isSamplesActive }}">
          Samples
        </a>

        <a href="index.html" class="menuButton menuButtonFirst {{ page.isIndexActive }}">
          Home
        </a>

      </div>

      <div id="menuDivDropDown">

        <a href="samples.html" class="menuButton">
          Samples
        </a>

        <a href="first_steps.html" class="menuButton">
          First steps
        </a>

        <a href="documentation.html" class="menuButton">
          Documentation
        </a>

        <a href="https://github.com/bristleback/bristleback/downloads" class="menuButton">
          Downloads
        </a>


      </div>

    </div>


  </div>
</header>

<content>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>
</content>

<footer>
  © Copyright 2012-2013 <a href="http://bristleback.pl" class="classicLinkBold">Bristleback Server</a>
</footer>

</body>

</html>
